# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Nuitka build files
*.build/
*.dist/
*.onefile-build/
*.onefile-build*

# Development files
.env
*.log

# OS files
.DS_Store
desktop.ini

# Backup files
*.bak
*.tmp
